<!DOCTYPE html>
<html>
<head>
	<title>Boilerplate Styleguide</title>
	<link href="../css/development.css" type="text/css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../js/plugins/tabcollection.js"></script>
</head>
<body>
    <div class="styleguide_header">
        <h1>Atomic Design Example</h1>
        <nav>
            <ul>
                <li id="atoms">
                    atoms
                </li>
                <li id="molecules">
                    molecules
                </li>
                <li id="organisms">
                    organisms
                </li>
            </ul>
        </nav>
    </div>
    <div class="styleguide_content_container">
        <div class="content" id="styleguide_atoms">
            {% include 'atoms/all.html' %}
        </div>
        <div class="content" id="styleguide_molecules">
            {% include 'molecules/all.html' %}
        </div>
        <div class="content" id="styleguide_organisms">
            {% include 'organisms/all.html' %}
        </div>
    </div>
    <script type="text/javascript">
        options = {
            selectors: { 
                tabs: '.styleguide_header nav li', 
                containers:  '.styleguide_content_container .content'
            },
            classnames: {
                active: 'selected',
                passive: ''
            },
            prefixes: {
                container: "#styleguide_",
            }
        }
        tcol = new tabcollection(options);
        active = 'atoms';
        el = jQuery('#'+active);
        tcol.show(el);

    </script>   
</body>
</html>