.styleguide_header {
    padding: 10px;
    font-family: $styleguide_font;
    background-color: $styleguide_color_main;
    border-bottom: 3px solid $styleguide_color_base;
    margin-bottom:10px;
}

.styleguide_header ul {
    display: inline-block;
}
.styleguide_header ul>li {
    float:left;
    position:relative;
    display: block;
    cursor: pointer;
    margin: 10px;
    font-weight: normal;
    color: $styleguide_color_highlight;
}

.styleguide_header ul>li:hover {
    font-weight: bold;
}

.styleguide_header ul>li.selected {
    color: $styleguide_color_accent;
}

.styleguide_header h1 {
    display: inline-block;
    font-size: 200%;
    color: $styleguide_color_dimmed;
}

