// Styleguide specifics
$styleguide_color_base: #91B9AE;
$styleguide_color_main: #A1D8EC;
$styleguide_color_dimmed: #204553;
$styleguide_color_highlight: #C26F67;
$styleguide_color_accent: #ECA1B2;

$styleguide_font: 'Helvetica';