<div class="card">
    {% include "../atoms/header_1.html" %}
    <div class="card_image">
        {% include "../atoms/image.html" %}
    </div>
    {% include "../atoms/paragraph_text.html" %}
    {% include "../molecules/read_more.html" %}
</div>